.CardWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CardPlastic {
    width:80%;
    height: 10em;
    background-color: rgba(228, 157, 142, 0.8);
    margin: 0.7em;

}

.CardInfo {
    display: flex;
    align-items:start;
    justify-content: space-between;
    padding: 0.3em;
}

.CardNumber {
    display: flex;
    align-items: end;
    bottom: 0;
    justify-content: space-between;
    padding: 0.3em;
}

.Options {
    display: flex;
    justify-content: center;
    margin-top: 0.3em;
   
}

.Options p {
   
    margin: 0.3em;
    font-size: 0.8rem;
    cursor: pointer;
}

.Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}

.Input {
    width: 75%;
    background-color: rgba(40,40,40,0.8);
    padding: 0.3em;
    margin: 0.5em;
    border: 0px ;
    color: rgba(228, 157, 142, 0.8);
    border-radius: 5px;
}

input::placeholder {
    color: white;
}

textarea:focus, input:focus{
    outline: none;
}

.Btton {
    background-color: rgba(228, 157, 142, 0.8);
    width: 6em;
    height: 2em;
    font-size: 0.8rem;
    text-align: center;
}