

.Form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form form {
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Form h4 {
    text-align: center;
    color: rgba(228, 157, 142, 0.8);  
}

.Form input {
    width: 100%;
    background-color: rgba(40,40,40,0.8);
    padding: 0.3em;
    margin: 0.5em;
    border: 0px ;
    color: rgba(228, 157, 142, 0.8);
    transition: all 1s;
}

.Form input:hover {
   
    background-color: rgba(228, 157, 142, 0.2);;
}

.Form input::placeholder {
   
    color: rgba(228, 157, 142, 0.8);;
}

.LoanOptionsOne {
    display: flex;
    justify-content: space-between;
  }

  .LoanOptionsTwo {
    display: flex;
    justify-content: space-between;
    margin-top: -3em;
  }
  
  .LoanOptions {
    background-color: rgba(40,40,40,0.8);
    border-radius: 5px;
    margin-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 1s;
  }

  .LoanOptions:hover {
    background-color: rgba(228, 157, 142, 0.2);
  }