.ProfileWrapper {
   display: flex;
   flex-direction: column;
    width: 35%;
    border-radius: 5px;
    margin: 1.5em;
    max-height: 90vh;
}

.ProfileCard {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
    height: 50%;
    background-color: rgba(60,60,60,0.2);
}

.ProfileCard img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    padding: 1em;
  
}

.ProfileInfo {
    padding-left: 0.2em;
    padding-bottom: 0.5em;
}

.ProfileInfo h3{
    margin-bottom: -1em ;
}

.ProfileInfo p{
    color: rgba(228, 157, 142, 0.8) ;
}

.TotalBalance {
    background-color: rgba(228, 157, 142, 0.8);
    height: 20%;
    display: flex;
    justify-content: start;
    padding-left: 1em;
    flex-direction: column;
}

.TotalBalance h1 {
    font-size: 2.3rem;
}

